
.DS_Store
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
model.dSYM/Contents/Resources/DWARF/model
model.dSYM/Contents/Info.plist
model
.vscode/c_cpp_properties.json
